h1 a{
    color: rgb(163, 16, 226);
    font-family: Copperplate, Papyrus, fantasy;
}
h1{
    color:black;
    font-family: Copperplate, Papyrus, fantasy;
    margin-left: 40px;
}
body {
    padding-left: 15px;
    background-image: url(https://t3.ftcdn.net/jpg/04/05/80/88/360_F_405808828_lwfcYW72K3i3IsZQayyHg9kEqHpRrrET.jpg);
}
.page-header{
    background-color: rgb(222, 151, 253);
    padding: 20px 20px 20px 40px;
    margin-top: 0;
    text-align: center;
    opacity: 0.7;
}
.olimpiad{
    background-color: white;
    opacity: 0.7;
}